<div class="row">
  <div class="col-sm-6">
    <app-card [title]="'Markers Map'" [classHeader]="true">
      <span class="code-header"> Location in Mahdia</span>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="6">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
       
      </agm-map>
    </app-card>
  </div>

  <div class="col-sm-6">
    <app-card [title]="'Markers Map'" [classHeader]="true">
      <span class="code-header">Location in Canada  </span>
      <agm-map [latitude]="latA" [longitude]="lngA" [zoom]="6">
        
        <agm-marker [latitude]="latA" [longitude]="lngA"></agm-marker>
        

      </agm-map>
    </app-card>
  </div>
 
</div>
