
<div class="panel panel-default p">
    <div class="d-flex justify-content-between">
        <div class="p-3">
            <h1>Command list</h1>
        </div>
        
    </div>

    <div class="panel-body panel-default">
        <table class="table table-striped table-bordered sticky">
            <thead>
                <tr>
                   
                    <th>Adress</th>
                    <th>Service Name</th>
                    <th>Phone Number</th>
                    <th>Panne description</th>
                    <th>Date of command</th>
                    <th>State</th>

                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Commande of commandes">
                  
                    <td>{{Commande.adresse}}</td>
                    <td>{{Commande.nameservice}}</td>
                    <td>{{Commande.phone}}</td>
                    <td>{{Commande.pannedescription}}</td>
                    <td>{{Commande.datedemmande}}</td>
                    <td>{{Commande.state}}</td>
                    <td class="text-center">
                       
                        <button class="btn btn-secondary" (click)="createClaim(Commande)" [disabled]="Commande.state==='In progress' "routerLink='/table/createClaim'>Claim</button> 
                        <button class="btn btn-warning"  [disabled]="Commande.state==='Accepted' "(click)="EditCommande(Commande)">Edit</button> 
                        <button class="btn btn-danger"  [disabled]="Commande.state==='Accepted' "(click)="deleteCommande(Commande.id)">Cancel</button>
                    </td>
                   
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="edition">
<h3>Edit Commande</h3>
<div [hidden]="submitted" style="width: 400px;" >
    <form (ngSubmit)="onSubmit()" #monForm=ngForm>
       
       

        <div class="form-group">
            <label for="name">Phone Number</label>
            <input type="text" class="form-control" id="Phone" required [(ngModel)]="CommandeToEdit.phone" name="Phone" required #Phone="ngModel" [class.is-invalid]="Phone.invalid && Phone.touched">
            <small class="text-danger" [class.d-none]="Phone.valid || Phone.untouched">Phone is required filed</small>
        </div>
        <div class="form-group">
            <label for="name">Panne description</label>
            <input type="text" class="form-control" id="pannedescription" required [(ngModel)]="CommandeToEdit.pannedescription" name="pannedescription" required #pannedescription="ngModel" [class.is-invalid]="pannedescription.invalid && pannedescription.touched">
            <small class="text-danger" [class.d-none]="pannedescription.valid || pannedescription.untouched">Panne description is required filed</small>
        </div>
        <div class="form-group">
            <label for="name"> service name </label>
            <select class="form-select"  name="service" id="service-select" required [(ngModel)]="CommandeToEdit.nameservice">
               
                    <option *ngFor="let o of options">
                        {{o.name}}
                     </option>
            </select>    
        </div>
        <div class="form-group">
        <small class="text-danger" *ngIf=!monForm.valid>Empty filed</small>
        </div>
        <button type="submit" class="btn btn-success"(click)="done()" [disabled]=!monForm.valid>Submit </button>
        <button type="button" class="btn btn-default ml-2" (click)="cancelEditCommand()">Cancel</button>

    </form>
</div>

<div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
</div>
</div>