<div class="about-section">
    <h1>About Us </h1>
    
  </div>
  
 
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../../assets/images/hamza.jpg" alt="hamza" style="width:100%">        <div class="container">
          <h2>ICHAOUI Tarek</h2>
          <p class="title">CEO & Founder</p>
          <p>Civil engineering.</p>
          <p>tarekichaoui@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/images/hatem.jpg" alt="hamza" style="width:100%">
        <div class="container">
          <h2>BENSALAH Hatem</h2>
          <p class="title">Technology Director</p>
          <p>system developer.</p>
          <p>hatembensalh@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/images/jone.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>AZAIZ Fakhri</h2>
          <p class="title">Marketing Director</p>
          <p>Marketeer.</p>
          <p>fakhriazaiz@gmail.com</p>
          <p><button class="button" > Contact </button></p>
        </div>
      </div>
    </div>
  </div>