<div [hidden]="submitted" style="width: 400px;" >
    <h3>Create Claim </h3>
    <div class="position-absolute" style="right: 200px" > 
        <img src="./assets/images/services/reclamation.jpg">
    </div>

    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">First Name</label>
            <input type="text" class="form-control" id="firstName" required [(ngModel)]="claim.firstName" name="firstName">
        </div>
        

        <div class="form-group">
            <label for="name">Last Name</label>
            <input type="text" class="form-control" id="lastName" required [(ngModel)]="claim.lastName" name="lastName">
        </div>

        <div class="form-group">
            <label for="name">Adress</label>
            <input type="text" class="form-control" id="adress" required [(ngModel)]="claim.adresse" name="adress">
        </div>
        <div class="form-group">
            <label for="name">Email</label>
            <input type="text" class="form-control" id="email" required [(ngModel)]="claim.email" name="email">
        </div>
        <div class="form-group">
            <label for="name">Phone</label>
            <input type="text" class="form-control" id="Phone" required [(ngModel)]="claim.phone" name="Phone" value="a">
        </div>

        <div class="form-group">
            <label for="name"> service name </label>
         <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"  name="service" id="service-select" [(ngModel)]="claim.nameservice">
               
                    <option selected *ngFor="let o of options">
                        {{o.name}}
                     </option>
            </select> 
             
        </div>
        <div class="form-group">
            <label for="name">Claim description</label>
            <input type="text" class="form-control" id="Claimdescription" required [(ngModel)]="claim.claimdescription" name="Claimdescription">
         
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h4>Your Claim has been  submitted successfully. We will call you as soon as possible</h4>
</div>