<html>
    <ul>
<div class="row">
    <div class="col-sm-3">

       <img src="./assets/images/services/electricien.jpg" (click)="electricienCliked()" /> 
</div>

<div class="col-sm-3">
    <img src="./assets/images/services/plombier.jpg" (click)="plombierCliked()" />
</div>


<div class="col-sm-3">

    <img src="./assets/images/services/peinture.jpg"(click)="peintureCliked()" />
</div>

<div class="col-sm-3">
    <img src="./assets/images/services/paraboliste.jpg"(click)="parabolisteCliked()" />
</div>
</div>
<br> <br>
<div class="row">
<div class="col-sm-3">

    <img src="./assets/images/services/minusier.jpg" (click)="minusierCliked()"/>
</div>

<div class="col-sm-3">
    <img src="./assets/images/services/maçon.jpg" (click)="maconCliked()"/>
</div>


<div class="col-sm-3">

    <img src="./assets/images/services/jardinier.jpg" (click)="jardinierCliked()"/>
</div>

<div class="col-sm-3">
    <img src="./assets/images/services/paraboliste.jpg" (click)="electricienCliked()"/>
</div>

</div>
</ul>
</html>