<html>
 <!--   
<table> 
    <tr >
        <td > <img src="./assets/images/services/electricien.jpg" (click)="electricienCliked()" /></td>
       
        <td  > <img src="./assets/images/services/plombier.jpg" (click)="plombierCliked()" /></td>
        <td > <img src="./assets/images/services/peinture.jpg"(click)="peintureCliked()" /></td>
        <td> <img src="./assets/images/services/paraboliste.jpg"(click)="parabolisteCliked()" /></td>

    </tr>
    <tr>
        <td > <img src="./assets/images/services/minusier.jpg" (click)="minusierCliked()"/></td>
        <td> <img src="./assets/images/services/maçon.png" (click)="maconCliked()"/></td>
        <td> <img src="./assets/images/services/jardinier.jpg" (click)="jardinierCliked()"/></td>
        <td> <img src="./assets/images/services/paraboliste.jpg" (click)="electricienCliked()"/></td>
    </tr>

</table>
-->
<div class="row">
    <div class="col-sm-3">

        <img src="./assets/images/services/electricien.jpg" (click)="electricienCliked()" />
</div>

<div class="col-sm-3">
    <img src="./assets/images/services/plombier.jpg" (click)="plombierCliked()" />
</div>


<div class="col-sm-3">

    <img src="./assets/images/services/peinture.jpg"(click)="peintureCliked()" />
</div>

<div class="col-sm-3">
    <img src="./assets/images/services/paraboliste.jpg"(click)="parabolisteCliked()" />
</div>
</div>
<br> <br>
<div class="row">
<div class="col-sm-3">

    <img src="./assets/images/services/minusier.jpg" (click)="minusierCliked()"/>
</div>

<div class="col-sm-3">
    <img src="./assets/images/services/maçon.jpg" (click)="maconCliked()"/>
</div>


<div class="col-sm-3">

    <img src="./assets/images/services/jardinier.jpg" (click)="jardinierCliked()"/>
</div>

<div class="col-sm-3">
    <img src="./assets/images/services/paraboliste.jpg" (click)="electricienCliked()"/>
</div>

</div>
</html>