<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" >Home Maintenance Services</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
          <a class="nav-link" (click)="NavigateToCommande()">All Commands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="NavigateToClaim()">All Claims</a>
        </li>
        
       
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class=" mr-sm-2" type="search" placeholder="Search" aria-label="Search">
           {{email}}
        </div>
        <img src="./assets/images/logout.png" class=" my-2 my-sm-0" (click)="Logout()" routerLink='/auth/login'>
      </form>
    </div>
  </nav>
    


  <br> <br> <br>
  <div class="ml-4 mr-4" *ngIf="opencommandlist">
    
    <div class="panel panel-default ">
  
    <div class="d-flex justify-content-between">
        <div class="p-2">
            <h1>Command list</h1>
        </div>
        
    </div>
  
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Adress</th>
                    <th>Service Name</th>
                    <th>Phone Number</th>
                    <th>Panne description</th>
                    <th>State</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Commande of commandes">
                    <td>{{Commande.firstName}}</td>
                    <td>{{Commande.lastName}}</td>
                    <td>{{Commande.email}}</td>
                    <td>{{Commande.adresse}}</td>
                    <td>{{Commande.nameservice}}</td>
                    <td>{{Commande.phone}}</td>
                    <td>{{Commande.pannedescription}}</td>
                    <td>{{Commande.state}}</td>

                    <td class="text-center">
                        <button class="btn btn-danger" (click)="deleteCommande(Commande.id)">Delete</button>
                        <button  class="btn btn-warning" (click)="EditCommande(Commande)">Edit</button> 
                        <button class="btn btn-success" (click)="AcceptCommand(Commande)">Accept</button> 

                    </td>
                   
                </tr>
            </tbody>
        </table>
    </div>
  </div><br>
  </div>
 

  <div class="ml-4 mr-4"  *ngIf="editCommand">
    <h3>Edit Commande</h3>
    <div style="width: 400px;" >
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">First Name</label>
                <input type="text" class="form-control" id="firstName" required [(ngModel)]="CommandeToEdit.firstName" name="firstName">
            </div>
    
            <div class="form-group">
                <label for="name">Last Name</label>
                <input type="text" class="form-control" id="lastName" required [(ngModel)]="CommandeToEdit.lastName" name="lastName"/>
            </div>
    
            <div class="form-group">
                <label for="name">Email </label>
                <input type="text" class="form-control" id="email" required [(ngModel)]="CommandeToEdit.email" name="email">
            </div>
    
    
            <div class="form-group">
                <label for="name">Adress</label>
                <input type="text" class="form-control" id="Adress" required [(ngModel)]="CommandeToEdit.adresse" name="Adress">
            </div>
    
            <div class="form-group">
                <label for="name"> service name </label>
                <select class="form-select"  name="service" id="service-select" [(ngModel)]="CommandeToEdit.nameservice">
                   
                        <option *ngFor="let o of options">
                            {{o.name}}
                         </option>
                </select>    
            </div>
    
            <div class="form-group">
                <label for="name">Phone Number</label>
                <input type="text" class="form-control" id="Phone" required [(ngModel)]="CommandeToEdit.phone" name="Phone">
            </div>
            <div class="form-group">
                <label for="name">Panne description</label>
                <input type="text" class="form-control" id="pannedescription" required [(ngModel)]="CommandeToEdit.pannedescription" name="pannedescription">
            </div>
            <button type="submit" class="btn btn-success"(click)="done()">Submit</button>
            <button type="button" class="btn btn-default ml-2" (click)="cancelCommande()">Cancel</button>

        </form>
    </div>
    </div>








  <div class="ml-4 mr-4" *ngIf="openclaim">
  
    <div class="panel panel-default">
  
      <div class="d-flex justify-content-between">
          <div class="p-2">
              <h1>Claim list</h1>
          </div>
      </div>
  
      <div class="panel-body">
          <table class="table table-striped table-bordered">
              <thead>
                  <tr>
                      <th>Firstname</th>
                      <th>Lastname</th>
                      <th>Email</th>
                      <th>Adress</th>
                      <th>Service Name</th>
                      <th>Phone Number</th>
                      <th>Claim description</th>
                      <th>State</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let Claim of Claims">
                      <td>{{Claim.firstName}}</td>
                      <td>{{Claim.lastName}}</td>
                      <td>{{Claim.email}}</td>
                      <td>{{Claim.adresse}}</td>
                      <td>{{Claim.nameservice}}</td>
                      <td>{{Claim.phone}}</td>
                      <td>{{Claim.claimdescription}}</td>
                      <td>{{Claim.State}}</td>

                  
                      <td class="text-center">
                           <button class="btn btn-danger" (click)="deleteClaim(Claim.id)">Delete</button>
                           <button  class="btn btn-warning" (click)="EditClaim(Claim)">Edit</button> 
                           <button class="btn btn-success" (click)="AcceptCommand()">Accept</button> 

                      </td>
                     
                  </tr>
              </tbody>
          </table>
      </div>
  </div> <br>
  </div>
  <div  class="ml-4 mr-4"  *ngIf="editclaim">
    <h3>Edit Claim</h3>
    <div  >
        <form  style="width: 400px;"  >
            <div class="form-group">
                <label for="name">First Name</label>
                <input type="text" class="form-control" id="firstName" required [(ngModel)]="ClaimToEdit.firstName" name="firstName">
            </div>
    
            <div class="form-group">
                <label for="name">Last Name</label>
                <input type="text" class="form-control" id="lastName" required [(ngModel)]="ClaimToEdit.lastName" name="lastName"/>
            </div>
    
            <div class="form-group">
                <label for="name">Email </label>
                <input type="text" class="form-control" id="email" required [(ngModel)]="ClaimToEdit.email" name="email">
            </div>
    
    
            <div class="form-group">
                <label for="name">Adress</label>
                <input type="text" class="form-control" id="Adress" required [(ngModel)]="ClaimToEdit.adresse" name="Adress">
            </div>
    
            <div class="form-group">
                <label for="name"> service name </label>
                <select class="form-select"  name="service" id="service-select" [(ngModel)]="ClaimToEdit.nameservice">
                   
                        <option *ngFor="let o of options">
                            {{o.name}}
                         </option>
                </select>    
            </div>
    
            <div class="form-group">
                <label for="name">Phone Number</label>
                <input type="text" class="form-control" id="Phone" required [(ngModel)]="ClaimToEdit.phone" name="Phone">
            </div>
            <div class="form-group">
                <label for="name">Claim description</label>
                <input type="text" class="form-control" id="Claimdescription" required [(ngModel)]="ClaimToEdit.claimdescription" name="pannedescription">
            </div>
            <button type="submit" class="btn btn-success"(click)="doneClaim()">Submit</button>
            <button type="button" class="btn btn-default ml-2" (click)="cancelClaim()">Cancel</button>
        </form>
    </div>
    
    
    </div>
 
   