<div >

    <nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" >Home Maintenance Services</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
 
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
         <a class="nav-link" href="auth/registration">Register <span class="sr-only">(current)</span></a>
       </li>
       <li class="nav-item active">
           <a class="nav-link" href="auth/login">Signin Now <span class="sr-only">(current)</span></a>
         </li>
         
     </ul>
    
   </div>
 </nav>
<div>
  
</div>
<br>
</div>




<div class="row">
    <div class="containers col-lg-6 col-md-6">
      
      <div class="pic"></div>
      
      
      <div class="social1">
      <a class="fa fa-facebook" href="https://www.facebook.com/Home-Maintenance-Services-114554697005813" aria-hidden="true"> </a> 
      </div>
      <div class="social2">
      <a href="https://www.instagram.com/home.maintenance.services/" class="fa fa-instagram" aria-hidden="true"></a>
      </div>
      <div class="social3">
        <a href="https://twitter.com/" class="fa fa-twitter-square" aria-hidden="true"></a>
      </div>
    </div>
    
    <div class="content col-md-offset-6 col-lg-offset-6">
     <h1 class="contentHead"> <B>ABOUT US </B></h1>
      <h2>Home Maintenance Services, <br/>
        where you can repaire every think in your home  from your home. 
        <br/><br/>
      
        
      </h2>
      <img src="./assets/images/services/cantactus.jpg">
    </div>
    </div>   
    